@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}

body {
    background-color: #f3f3f3;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.wrapper {
    background-color: #fff;
    padding: 30px;
    width: 26%;
    border-radius: 15px;
}

.container {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

/* INDEX PAGE STYLE RULES */
.container div {
    margin: 15px 0;
}

.login-icon {
    object-fit: cover;
    width: 200px;
}

.connect {
    width: 70%;
}
.connect h3 {
    font-size: 1.3em;
}

.connect p {
    font-size: .8em;
    color: #a8a8a8;
}

.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    /* background-color: black; */
}

.button {
    background-color: #407BFF;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 18px;
    cursor: pointer;
}

.button:hover {
    background-color: #8eaeee;
}

.login-button {
    text-decoration: none;
    color: #407BFF;
    font-weight: 600;
}

.login-button:hover {
    color: #8eaeee;
}

/* SIGN UP PAGE STYLE RULES */
.signup-container > p{
    color: #a8a8a8;
    font-size: .9em;
    margin-bottom: 10px;
}

.error-msg {
    color: #721c24;
    background-color: #f8d7da;
    text-align: center;
    margin: 15px 0;
    padding: 8px;
    display: none;
}

.names {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    padding: 8px;
    margin: 2px 0;
    outline-color: #407BFF;
}

form > p > input {
    width: 95%;
}

form p {
    margin: 10px 0;
    font-size: .8em;
}

.signup-login-btn {
    padding: 10px 25px;
    color: #fff;
    background-color: #407BFF;
    border: none;
    border-radius: 18px;
    margin: 15px 0;
    cursor: pointer;
}

.signup-container p:last-child > a {
    text-decoration: none;
    color: #407BFF;
}

/* USERS PAGE STYLE RULES */
.users-container {
    max-height: 350px;
    overflow-y: scroll;
    scrollbar-width: 0;
}

.users-container::-webkit-scrollbar {
    width: 0;
}

.logout {
    border-radius: 0;
    text-decoration: none;
}

.users-container .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.user-details, .contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact-card {
    margin: 15px 0;
    padding-bottom: 15px;
    display: block;
    border-bottom: 1px solid rgba(168, 168, 168, .3);
}

.users-container .contact-card:last-child {
    border-bottom: none;
}

.profile-picture {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.user-name {
    margin-left: 7px;
    font-weight: bold;
}

.header {
    padding-bottom: 15px;
    border-bottom: 1px solid rgba(168, 168, 168, .3);
    margin-bottom: 25px;
}

.status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.online {
    background-color: #31b67a;
}

.offline {
    background-color: #a8a8a8;
}

.contact-card {
    text-decoration: none;
}

.username {
    font-size: .9em;
    font-weight: 500;
    color: #333;
    margin-left: 8px;
}

.message {
    font-size: .75em;
    margin-left: 8px;
    color: #8d8d8d;
}

/* CHAT SECTION STYLE RULES */

i {
    cursor: pointer;
}


.chat-nav {
    position: relative;
}

.chat-header.header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.chat-user-details {
    margin-left: 10px;
}

.contact-username {
    font-size: .8em;
    font-weight: 500;
    margin-left: 6px;
}

.contact-profile-picture.profile-picture {
    width: 35px;
    height: 35px;
}

.contact-status {
    font-size: .7em;
    color: #a8a8a8;
    margin-left: 8px;
}

.chat-input {
    width: 90%;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid rgba(168, 168, 168, .3);
    outline: none;
    overflow-wrap: break-word;
}

.chat-box {
    font-size: .7em;
    position: relative;
    overflow-y: scroll;
    height: 350px;
}

.back-button {
    text-decoration: none;
    color: black;
}

.chat-box::-webkit-scrollbar {
    width: 0;
}


.outgoing-chat-bubble {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: auto;
}

.outgoing-chat-bubble p {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 18px 18px 0 18px;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
    max-width: calc(100% - 150px);
    word-wrap: break-word;
}

.incoming {
    display: flex;
    align-items: flex-end;
}

.incoming-img {
    object-fit: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    bottom: 15px;
}

.incoming-chat-bubble {
    background-color: #a8a8a8;
    color: #fff;
    padding: 10px;
    max-width: calc(100% - 130px);
    word-wrap: break-word;
    margin: 15px auto 15px 8px;
    border-radius: 18px 18px 18px 0;
    box-shadow: 0 0 15px rgba(0, 0, 0, .1);
}

.message-area {
    display: flex;
    align-items: center;
}


/* MEDIA QUERIES */

@media (max-width: 1099px) {
    .wrapper {
        width: 35%;
    }
}

@media (max-width: 875px) {
    .wrapper {
        width: 40%;
    }
}

@media (max-width: 725px) {
    .wrapper {
        width: 50%;
    }
}

@media (max-width: 555px) {
    .wrapper {
        width: 100%;
    }
}